.git
.github
.chats
.pytest_cache
.vscode
__pycache__
*.egg-info
.env
docker/.env
.lm
experiments
logs
*.log
*.pyc
*.crt
*.pem
configs/*
!configs/__init__.py
!configs/envs.json
!configs/envs.py
!configs/secrets.json.example