.vscode
.codex
__pycache__
*.egg-info
.env
docker/.env
secrets.json
*.crt
*.pem
configs/*
!configs/__init__.py
!configs/envs.json
!configs/envs.py
!configs/secrets.json.example
logs/
debugs/*
!debugs/*.py
*.log
*.chats
*.lm
experiments