elasticsearch~=8.14.0
fastapi~=0.115.0
jieba~=0.42.1
pydantic~=2.9.2
pypinyin~=0.51.0
Requests~=2.32.3
tclogger>=1.1.13.1
termcolor~=2.4.0
tqdm~=4.66.4
tzdata~=2024.1
uvicorn~=0.31.0
websockets~=11.0.3
zhconv~=1.4.3